3.1

In [32]:
60 * 60

3600

3.2

In [33]:
seconds_per_hour = 60 * 60

3.3

In [34]:
seconds_per_hour * 24

86400

3.4

In [35]:
seconds_per_day = seconds_per_hour * 24

3.5

In [36]:
seconds_per_day / seconds_per_hour

24.0

3.6

In [37]:
seconds_per_day // seconds_per_hour

24

Yes, the numbers agreed.

4.1

In [38]:
secret = 2
guess = int(input("Please enter your guess as an integer:", ))

if guess < secret:
    print("Your guess was too low.")

elif guess > secret:
    print("Your guess was too high")

else:
    print("Your guess was correct! Well done!")

Your guess was too low.

4.2

In [39]:
import random

small = True
green = True
orange = False
red = False
large = False

cherry = small and red

pea = small and green

watermelon = large and green

pumpkin = large and orange

list = [cherry, pea, watermelon, pumpkin]

choice = random.choice(list)

if choice == (small and green):
    print("This choice is both small AND green")

else:
    print("This choice was either not small or not green")

This choice was either not small or not green

6.1

In [40]:
list = [3, 2, 1, 0]

for x in list:
    print(x)

3
2
1
0

6.2

In [41]:
guess_me = 7

number = 0

while number != guess_me:
    number = int(input("Please enter your guess as an integer:"))
    if number < guess_me:
        print("too low")
    elif number > guess_me:
        print("oops")
    else:
        print("Found it!")
        break

Found it!

6.3

In [42]:
guess_me = 5

number = range(10)

for x in number:
    if x < guess_me:
        print("too low")
        x+=x
    elif x > guess_me:
        print("oops")
        break
    else:
        print("Found it!")
        break

too low
too low
too low
too low
too low
Found it!

7.4 Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella"

In [43]:
things = ["mozzarella", "cinderella", "salmonella"]

7.5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [44]:
things[1] = "cinderella".capitalize()

print(f"{things}")

['mozzarella', 'Cinderella', 'salmonella']

7.6 Make the cheesy element of things all uppercase and then print the list.

In [45]:
things[0] = "mozzarella".swapcase()

print(f"{things}")

['MOZZARELLA', 'Cinderella', 'salmonella']

7.7 Delete the disease element from things, collect your Nobel Prize, and print the list.

In [46]:
things.pop(2)

print(f"{things}")

['MOZZARELLA', 'Cinderella']

9.1 Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione']

In [47]:
def good(list):
    good_guys = ["Harry", "Ron", "Hermione"]
    list = good_guys
    return list

9.2 Define a generator function called get_odds() that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [48]:
def get_odds(list):
    count = 0
    for x in range(0,10):
        if(x % 2 == 0):
          continue
        else:
           list.append(x)


list = []
get_odds(list)
y = len(list)

for y in range(0,y):
   if(y==2):
      print(f"{list[y]}")
   else:
      y = y + 1

5

11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [32]:
import os

text =  """
def hours():
    if __name__ == "__main__":
        print("Import failed!")
    else:
        print("Open 9-5 daily!")
        """

if os.path.exists('./Module_4/zoo.py') == False:
    fout = open('./Module_4/zoo.py', 'wt')
    print(text)
    fout.close()
elif os.path.exists('./Module_4/zoo.py') == True:
    fout = open('./Module_4/zoo.py', 'wt')
    if fout.tell() == 0:
       fout.write(text)
       fout.close()
    elif fout.tell() != 0:
        fout.seek(0)
        file_text = fout.read()
        fout.close()
        if file_text == text:
            print("File already exists with correct text!")
        else:
            fout = open('./Module_4/zoo.py', 'wt')
            fout.write(text)
            fout.close()
    else:
        print("How did you do that?")
else:
    print("How did you do that?")

import sys
sys.path.append('C:\\Users\\dosta\\OneDrive\\Documentos\\Homework\\SDEV220\\Module_4')

import zoo
zoo.hours()

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [33]:
import os

text =  """
def hours():
    if __name__ == "__main__":
        print("Import failed!")
    else:
        print("Open 9-5 daily!")
        """

if os.path.exists('./Module_4/zoo.py') == False:
    fout = open('./Module_4/zoo.py', 'wt')
    print(text)
    fout.close()
elif os.path.exists('./Module_4/zoo.py') == True:
    fout = open('./Module_4/zoo.py', 'wt')
    if fout.tell() == 0:
       fout.write(text)
       fout.close()
    elif fout.tell() != 0:
        fout.seek(0)
        file_text = fout.read()
        fout.close()
        if file_text == text:
            print("File already exists with correct text!")
        else:
            fout = open('./Module_4/zoo.py', 'wt')
            fout.write(text)
            fout.close()
    else:
        print("How did you do that?")
else:
    print("How did you do that?")

import sys
sys.path.append('C:\\Users\\dosta\\OneDrive\\Documentos\\Homework\\SDEV220\\Module_4')

import zoo as menagerie
menagerie.hours()

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

16.5 Read books2.csv and insert its data into the book table.

In [2]:
import sqlite3
import csv

ch16_connection = sqlite3.connect('books.db',timeout=10)
ch16_cursor = ch16_connection.cursor()
sql_create_table = '''CREATE TABLE books (title VARCHAR(40) PRIMARY KEY, author VARCHAR(40), year INTEGER)'''
try:
    ch16_cursor.execute(sql_create_table)
except Exception as e:
    pass
else:
    ch16_cursor.execute(sql_create_table)
    ch16_cursor.close()
    ch16_connection.close()


with open('books.csv', 'rt') as csv_file:
    csv_reader = csv.reader(csv_file)
    book_list = [row for row in csv_reader]

ch16_connection = sqlite3.connect('books.db',timeout=10)
ch16_cursor = ch16_connection.cursor()
sql_table_transaction = "BEGIN TRANSACTION" 
sql_table_insert = "INSERT INTO books (title,author,year) VALUES (?,?,?)"
ch16_cursor.execute(sql_table_transaction)
ch16_cursor.executemany( sql_table_insert, book_list)
ch16_connection.commit()
ch16_cursor.close()
ch16_connection.close()

ch16_connection = sqlite3.connect('books.db',timeout=10)
ch16_cursor = ch16_connection.cursor()
sql_format_table = "SELECT title FROM books ORDER BY title"
ch16_cursor.execute(sql_format_table)
book_rows = ch16_cursor.fetchall()
print(book_rows)
ch16_cursor.close()
ch16_connection.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('title',)]

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [12]:
import sqlite3
import sqlalchemy
from sqlalchemy import text

engine = sqlalchemy.create_engine('sqlite+pysqlite:///C:\\Users\\dosta\\OneDrive\\Documentos\\Homework\\SDEV220\\books.db')

with engine.connect() as connection:
    result = connection.execute(text("SELECT title FROM books ORDER BY title"))
    rows = [row for row in result]
    print(f"{rows}")

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('title',)]