In [231]:
import pandas as pd

1. CREATE

1.1 Create from a CSV

In [232]:
df = pd.read_csv('telco_churn.csv')

1.2 Create from a Dictionary

In [233]:
tempdict = {'col1':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [234]:
dictdf = pd.DataFrame.from_dict(tempdict)

2. READ

2.1 Show Top 5 and Bottom 5 Rows

In [235]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

In [275]:
df.head(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,...,203.9,118.0,9.18,6.3,6,1.70,0.0,False,100,0
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,...,211.8,96.0,9.53,7.1,6,1.92,0.0,False,100,0
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,...,326.4,97.0,14.69,11.2,5,3.02,0.0,False,100,0
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1

In [276]:
dictdf.head()

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [277]:
df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [315]:


df.tail(15)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
3318,OK,52,415,No,No,0,124.9,131.0,21.23,300.5,...,192.5,106.0,8.66,11.6,4,3.13,2.0,False,100,0
3319,WY,89,415,No,No,0,115.4,99.0,19.62,209.9,...,280.9,112.0,12.64,15.9,6,4.29,3.0,False,100,0
3320,GA,122,510,Yes,No,0,140.0,101.0,23.80,196.4,...,120.1,133.0,5.40,9.7,4,2.62,4.0,True,100,1
3321,VT,60,415,No,No,0,193.9,118.0,32.96,85.0,...,210.1,134.0,9.45,13.2,8,3.56,3.0,False,100,0
3322,MD,62,408,No,No,0,321.1,105.0,54.59,265.5,...,180.5,72.0,8.12,11.5,2,3.11,4.0,True,100,1
3323,IN,117,415,No,No,0,118.4,126.0,20.13,249.3,...,227.0,56.0,10.22,13.6,3,3.67,5.0,True,100,1
3324,WV,159,415,No,No,0,169.8,114.0,28.87,197.7,...,193.7,82.0,8.72,11.6,4,3.13,1.0,False,100,0
3325,OH,78,408,No,No,0,193.4,99.0,32.88,116.9,...,243.3,109.0,10.95,9.3,4,2.51,2.0,False,100,0
3326,OH,96,415,No,No,0,106.6,128.0,18.12,284.8,...,178.9,92.0,8.05,14.9,7,4.02,1.0,False,100,0
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,...,221.4,128.0,9.96,11.8,5,3.19,2.0,False,100,0
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

2.2 Show Columns and Data Type

In [316]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn', 'New Column', 'Churn Binary'],
      dtype='object')

In [317]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                      object
New Column                  int64
Churn Binary                int64
dtype: object

2.3 Summary Statistics

In [318]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,New Column,Churn Binary
count,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.000000,3307.0,3307.000000
mean,101.072573,437.141820,8.061385,179.745116,100.446024,30.557212,200.946538,100.173571,17.080668,200.972725,100.107046,9.043846,10.234593,4.471424,2.763846,1.561234,100.0,0.145147
std,39.808520,42.345868,13.667145,54.492493,20.064620,9.263710,50.514273,19.929825,4.293716,50.541952,19.543413,2.274444,2.794218,2.450851,0.754415,1.314486,0.0,0.352302
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,100.0,0.000000
25%,74.000000,408.000000,0.000000,143.600000,87.000000,24.410000,166.600000,87.000000,14.160000,167.100000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,100.0,0.000000
50%,101.000000,415.000000,0.000000,179.300000,101.000000,30.480000,201.300000,100.000000,17.110000,201.300000,100.000000,9.060000,10.300000,4.000000,2.780000,1.000000,100.0,0.000000
75%,127.000000,510.000000,19.000000,216.500000,114.000000,36.805000,235.300000,114.000000,20.000000,235.400000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,100.0,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,100.0,1.000000

In [319]:
df.describe(include='object')

       State International plan Voice mail plan  Churn
count   3307               3307            3307   3307
unique    51                  2               2      2
top       WV                 No              No  False
freq     106               2985            2396   2827

2.4 Filtering Columns

In [320]:
df.State

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3307, dtype: object

In [321]:
df['International plan']

0        No
1        No
2        No
3       Yes
4       Yes
       ...
3328     No
3329     No
3330     No
3331    Yes
3332     No
Name: International plan, Length: 3307, dtype: object

In [322]:
df[['State', 'International plan']]

     State International plan
0       KS                 No
1       OH                 No
2       NJ                 No
3       OH                Yes
4       OK                Yes
...    ...                ...
3328    AZ                 No
3329    WV                 No
3330    RI                 No
3331    CT                Yes
3332    TN                 No

[3307 rows x 2 columns]

In [323]:
df.State.unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MO', 'LA', 'WV', 'IN', 'RI', 'SC',
       'VA', 'NE', 'WY', 'MT', 'IL', 'GA', 'MD', 'AR', 'ID', 'WI', 'OR',
       'MI', 'DE', 'IA', 'UT', 'CO', 'CA', 'MN', 'SD', 'NC', 'WA', 'TX',
       'NM', 'NV', 'HI', 'DC', 'NY', 'VT', 'KY', 'ME', 'AZ', 'AK', 'MS',
       'MA', 'FL', 'NH', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [324]:
df.Churn.unique()

array([False, True], dtype=object)

2.5 Filtering Rows

In [325]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [326]:
df[df['International plan'] == 'No']

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,...,221.4,128.0,9.96,11.8,5,3.19,2.0,False,100,0
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [327]:
df[(df['International plan'] == 'No') & (df['Churn'] == False)]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,...,215.8,90.0,9.71,8.7,4,2.35,1.0,False,100,0
11,RI,74,415,No,No,0,187.7,127.0,31.91,163.4,...,196.0,94.0,8.82,9.1,5,2.46,0.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,...,221.4,128.0,9.96,11.8,5,3.19,2.0,False,100,0
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

In [328]:
df[(df['International plan'] == 'No') & (df['Churn'] == True)]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1
48,ID,119,415,No,No,0,159.1,114.0,27.05,231.3,...,143.2,91.0,6.44,8.8,3,2.38,5.0,True,100,1
54,WY,87,415,No,No,0,151.0,83.0,25.67,219.7,...,203.9,127.0,9.18,9.7,3,2.62,5.0,True,100,1
57,CO,121,408,No,Yes,30,198.4,129.0,33.73,75.3,...,181.2,77.0,8.15,5.8,3,1.57,3.0,True,100,1
69,TX,150,510,No,No,0,178.9,101.0,30.41,169.1,...,148.6,100.0,6.69,13.8,3,3.73,4.0,True,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,AR,76,408,No,No,0,107.3,140.0,18.24,238.2,...,271.8,116.0,12.23,10.0,3,2.70,4.0,True,100,1
3287,KS,170,415,No,Yes,42,199.5,119.0,33.92,135.0,...,184.6,49.0,8.31,10.9,3,2.94,4.0,True,100,1
3301,CA,84,415,No,No,0,280.0,113.0,47.60,202.2,...,156.8,103.0,7.06,10.4,4,2.81,0.0,True,100,1
3322,MD,62,408,No,No,0,321.1,105.0,54.59,265.5,...,180.5,72.0,8.12,11.5,2,3.11,4.0,True,100,1
3323,IN,117,415,No,No,0,118.4,126.0,20.13,249.3,...,227.0,56.0,10.22,13.6,3,3.67,5.0,True,100,1

2.6 Indexing with iloc

In [329]:
df.iloc[14]

State                        WY
Account length               57
Area code                   408
International plan           No
Voice mail plan             Yes
Number vmail messages        39
Total day minutes         213.0
Total day calls           115.0
Total day charge          36.21
Total eve minutes         191.1
Total eve calls           112.0
Total eve charge          16.24
Total night minutes       182.7
Total night calls         115.0
Total night charge         8.22
Total intl minutes          9.5
Total intl calls              3
Total intl charge          2.57
Customer service calls      0.0
Churn                     False
New Column                  100
Churn Binary                  0
Name: 26, dtype: object

In [330]:
df.iloc[14, 0]

'WY'

In [331]:
df.iloc[14, -1]

np.int64(0)

In [332]:
df.iloc[22:33]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
43,ID,160,415,No,No,0,85.8,77.0,14.59,165.3,...,178.5,92.0,8.03,9.2,4,2.48,3.0,False,100,0
44,WI,64,510,No,No,0,154.0,67.0,26.18,225.8,...,265.3,86.0,11.94,3.5,3,0.95,1.0,False,100,0
45,OR,59,408,No,Yes,28,120.9,97.0,20.55,213.0,...,163.1,116.0,7.34,8.5,5,2.30,2.0,False,100,0
46,MI,65,415,No,No,0,211.3,120.0,35.92,162.6,...,134.7,118.0,6.06,13.2,5,3.56,3.0,False,100,0
47,DE,142,408,No,No,0,187.0,133.0,31.79,134.6,...,242.2,127.0,10.90,7.4,5,2.00,2.0,False,100,0
48,ID,119,415,No,No,0,159.1,114.0,27.05,231.3,...,143.2,91.0,6.44,8.8,3,2.38,5.0,True,100,1
49,WY,97,415,No,Yes,24,133.2,135.0,22.64,217.2,...,70.6,79.0,3.18,11.0,3,2.97,1.0,False,100,0
50,IA,52,408,No,No,0,191.9,108.0,32.62,269.8,...,236.8,87.0,10.66,7.8,5,2.11,3.0,False,100,0
51,IN,60,408,No,No,0,220.6,57.0,37.50,211.1,...,249.0,129.0,11.21,6.8,3,1.84,1.0,False,100,0
52,VA,10,408,No,No,0,186.1,112.0,31.64,190.2,...,282.8,57.0,12.73,11.4,6,3.08,2.0,False,100,0
53,UT,96,415,No,No,0,160.2,117.0,27.23,267.5,...,228.5,68.0,10.28,9.3,5,2.51,2.0,False,100,0

2.7 Indexing with loc

In [333]:
state = df.copy()
state.set_index('State', inplace=True)

In [334]:
state.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
State,,,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [335]:
state.loc['OH']

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
State,,,,,,,,,,,,,,,,,,,,,
OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
OH,65,408,No,No,0,187.9,116.0,31.94,157.6,117.0,...,227.3,86.0,10.23,7.5,6,2.03,1.0,False,100,0
OH,83,415,No,No,0,337.4,120.0,57.36,227.4,116.0,...,153.9,114.0,6.93,15.8,7,4.27,0.0,True,100,1
OH,63,415,Yes,Yes,36,199.0,110.0,33.83,291.3,111.0,...,197.6,92.0,8.89,11.0,6,2.97,1.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OH,160,415,No,No,0,206.3,66.0,35.07,241.1,109.0,...,227.8,102.0,10.25,11.7,6,3.16,0.0,False,100,0
OH,88,408,No,No,0,274.6,105.0,46.68,161.1,121.0,...,194.4,123.0,8.75,9.2,4,2.48,2.0,False,100,0
OH,106,415,No,Yes,30,220.1,105.0,37.42,222.2,109.0,...,158.4,96.0,7.13,13.1,8,3.54,0.0,False,100,0
OH,78,408,No,No,0,193.4,99.0,32.88,116.9,88.0,...,243.3,109.0,10.95,9.3,4,2.51,2.0,False,100,0
OH,96,415,No,No,0,106.6,128.0,18.12,284.8,87.0,...,178.9,92.0,8.05,14.9,7,4.02,1.0,False,100,0

3. UPDATE

3.1 Dropping Rows

In [336]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
New Column                0
Churn Binary              0
dtype: int64

In [337]:
df.dropna(inplace=True)

In [338]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
New Column                0
Churn Binary              0
dtype: int64

3.2 Dropping Columns

In [339]:
df.drop('Area code', axis=1)

,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,No,Yes,25,265.1,110.0,45.07,197.4,99.0,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,No,Yes,26,161.6,123.0,27.47,195.5,103.0,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,No,No,0,243.4,114.0,41.38,121.2,110.0,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,Yes,No,0,299.4,71.0,50.90,61.9,88.0,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,Yes,No,0,166.7,113.0,28.34,148.3,122.0,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,126.0,...,279.1,83.0,12.56,9.9,6,2.67,2.0,False,100,0
3329,WV,68,No,No,0,231.1,57.0,39.29,153.4,55.0,...,191.3,123.0,8.61,9.6,4,2.59,3.0,False,100,0
3330,RI,28,No,No,0,180.8,109.0,30.74,288.8,58.0,...,191.9,91.0,8.64,14.1,6,3.81,2.0,False,100,0
3331,CT,184,Yes,No,0,213.8,105.0,36.35,159.6,84.0,...,139.2,137.0,6.26,5.0,10,1.35,2.0,False,100,0
3332,TN,74,No,Yes,25,234.4,113.0,39.85,265.9,82.0,...,241.4,77.0,10.86,13.7,4,3.70,0.0,False,100,0

3.3 Creating Calculated Columns

In [340]:
df['New Column'] = df['Total night minutes'] + df['Total intl minutes']

In [341]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,254.7,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,268.1,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,174.8,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,203.5,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,197.0,0

3.4 Updating an entire column

In [342]:
df['New Column'] = 100

In [343]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

3.5 Updating a single value

In [344]:
df.iloc[0,-1] = 10

In [345]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,10
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

3.6 Condition based updating using APPLY

In [346]:
df['Churn Binary'] = df['Churn'].apply(lambda x: 1 if x==True else 0)

In [347]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

In [348]:
df[df['Churn']==True].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,...,208.8,111.0,9.40,12.7,6,3.43,4.0,True,100,1
41,MD,135,408,Yes,Yes,41,173.1,85.0,29.43,203.9,...,122.2,78.0,5.50,14.6,15,3.94,0.0,True,100,1
48,ID,119,415,No,No,0,159.1,114.0,27.05,231.3,...,143.2,91.0,6.44,8.8,3,2.38,5.0,True,100,1
54,WY,87,415,No,No,0,151.0,83.0,25.67,219.7,...,203.9,127.0,9.18,9.7,3,2.62,5.0,True,100,1
57,CO,121,408,No,Yes,30,198.4,129.0,33.73,75.3,...,181.2,77.0,8.15,5.8,3,1.57,3.0,True,100,1

4 DELETE/OUTPUT

4.1 Output to CSV

In [349]:
df.to_csv('output.csv')

4.2 Output to JSON

In [350]:
#df.to_json()

#commented out to avoid writing JSON output in the notebook, taking up too much space

4.3 Output to HTML

In [351]:
#df.to_html()

#commented out to avoid writing HTML output in the notebook, taking up too much space

4.4 Delete a dataframe

In [352]:
#del df

#commented out to avoid deleting the dataframe in the notebook, which would make further operations impossible